{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarization</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body style="background-color:rgb(193, 229, 161)">
    <br>
   
   <h1 style="text-align: center;color:brown">NLP BASED TEXT SUMMARIZATION USING BART MODEL</h1>
   
    <div style="width: 100%;box-sizing: border-box;">
    <div class="hovering" style="width: 49%; height:60%; float: left;background-color: rgb(255, 255, 255);padding: 10px;">
    <form method="post">
        {% csrf_token %}
        <label for="input-text"><strong><h2 style="color: brown;">Enter your text to summarize:</h2></strong></label><br><br>
        <textarea type="text" name="input-text" id="input-text" cols="35" rows="15" placeholder="Enter your text to summarize" style="resize: none;"></textarea><br><br>
        <button type="submit">Summarize</button>
    </form>
    </div>
    <div class="hovering" style="margin-left: 52%; height: 60%;background-color: rgb(255, 255, 255);padding: 10px">
        
        <h2 style="color: brown;">Summarized Content:</h2>
        <p id="answer" style="font-size:20px;">{{output}}</p>
    </div>
 </div>
</body>

</html>